<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="users"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Users
  </a>
  <a mat-tab-link
     routerLink="forms"
     routerLinkActive #rla="routerLinkActive" 
     [active]="rla.isActive">
    Forms
  </a>
  <a mat-tab-link
     routerLink="orders"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Orders
  </a>
  <a mat-tab-link
     routerLink="transactions"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Transactions
  </a>
</nav>
<!-- <ul>
  <li routerLink="users">Users</li>
  <li [routerLink]="['/users']">users</li>
</ul> -->
<router-outlet></router-outlet>
